input[type="text"], select {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}
input[type="text"].empty {
  border: 1px solid red;
}
input[type="text"].filled {
  border: 1px solid green;
}
